* {
  @include reset-all-styles;
}

.wrapper{
  font-family: "Gilroy", sans-serif;
  background: var(--dark-gradient);
}

.container{
  @include container(1280px);
  overflow: hidden;
  position: relative;
}