    .search-container {
        display: flex;
        align-items: center;
        padding: 5px;
        border-radius: 10px;
        background: #504B4A;
        width: 555px;
        height: 52px;
    }

    .start-icon,
    .end-icon {
        padding: 5px;
        font-size: 18px;
        color: #777;
    }

    .search-input {
        flex: 1;
        border: none;
        outline: none;
        font-size: 16px;
        padding: 5px;
        background: #504B4A;
    }

    .Header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.875rem;
    }

    .Header_contact {
        display: flex;
        align-items: center;
        gap: .625rem;
    }

    .Header_btn {
        border-radius: 10px;
        background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
        width: 149px;
        height: 52px;
        display: flex;
        align-items: center;
        color: white;
        gap: 1.25rem;
        justify-content: center;
    }

    